.proposal-container{

padding:30px;
background:#f5f7fb;
min-height:100vh;

}


.proposal-card{

background:white;
padding:30px;
border-radius:12px;
width:70%;
box-shadow:0 4px 10px #ddd;

}


.proposal-card h2{

margin-top:25px;
color:#2563eb;

}


.proposal-card p{

font-size:16px;

}


.proposal-card button{

margin-top:25px;
background:#2563eb;
color:white;
padding:12px 25px;
border:none;
border-radius:8px;
cursor:pointer;

}